@import '../../theme/mixins';

.settings-item {
  padding: 0 15px;
  margin: 20px 0;
  cursor: pointer;
}

.settings-item__checkbox,
.settings-item__title {
  vertical-align: middle;
}

.settings-item__checkbox {
  @include fancy-checkbox;
}
// &__checkbox
//     fancy-checkbox()
