@import '../../theme/defaults';

.settings-weather__units,
.settings-weather__location {
  margin: 20px 0;
  padding: 0 15px;
}
.settings-weather__units-option,
.settings-weather__location-option {
  margin: 10px 0;
  cursor: pointer;
}
.settings-weather__units-option label,
.settings-weather__location-option label {
  display: block;
  width: 100%;
  cursor: pointer;
}
.settings-weather__units-option label > *,
.settings-weather__location-option label > * {
  display: inline-block;
  vertical-align: top;
}
.settings-weather__units-option input[type='radio'],
.settings-weather__location-option input[type='radio'] {
  -webkit-appearance: none;
  position: relative;
  width: 16px;
  height: 16px;
}
.settings-weather__units-option input[type='radio']:focus,
.settings-weather__location-option input[type='radio']:focus {
  outline: none;
}
.settings-weather__units-option input[type='radio']:before,
.settings-weather__location-option input[type='radio']:before,
.settings-weather__units-option input[type='radio']:after,
.settings-weather__location-option input[type='radio']:after {
  content: ' ';
  position: absolute;
  border-radius: 50%;
}
.settings-weather__units-option input[type='radio']:before,
.settings-weather__location-option input[type='radio']:before {
  width: 12px;
  height: 12px;
  top: 0;
  left: 0;
  border: solid 2px lighten($font-color, 50%);
  background-color: transparent;
}
.settings-weather__units-option input[type='radio']:after,
.settings-weather__location-option input[type='radio']:after {
  width: 8px;
  height: 8px;
  top: 4px;
  left: 4px;
  transform: scale(0);
  background-color: $main-color;
  transition: transform 200ms ease;
}
.settings-weather__units-option input[type='radio']:checked:after,
.settings-weather__location-option input[type='radio']:checked:after {
  transform: scale(1);
}
.settings-weather__units-option input[type='radio']:checked:before,
.settings-weather__location-option input[type='radio']:checked:before {
  border-color: $main-color;
}
