{
  presets: [
    ['env', {
      modules: false,
      targets: {
        browsers: ['last 5 Chrome versions']
      }
    }],
    'react'
  ],
  plugins: [
    'transform-object-rest-spread'
  ],
  env: {
    test: {
      presets: [
        'env'
      ]
    }
  }
}
