{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": ["last 5 Chrome versions"]
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  // "plugins": ["transform-object-rest-spread"],
  "env": {
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-react"]
    }
  }
}
