.weather-forecast {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
    margin: 0 10px;

    &__icon {
      width: 3em;
      height: 3em;
    }

    &__temperature {
      display: flex;
      flex-direction: row;
      justify-content: center;

      &__separator {
        opacity: 0.4;
      }

      &--max {
        &:after {
          content: '\00a0';
        }
      }

      &--min {
        opacity: 0.8;
        &:before {
          content: '\00a0';
        }
      }
    }
  }
}
