.weather
  text-align: center

  &__error
    font-size: 1rem
    font-family: 'Roboto Regular'
    text-align: center
    max-width: 80%
    margin: 20px auto

  &__location
    font-size: 0.25em

    &-city
      &:after
        content: ', '

  &__forecast
    //

  &__day
    display: inline-block
    width: .5em
    vertical-align: top

    &-icon
      width: .5em
      height: .5em

      svg
        width: 75%;
        height: 75%;
        display: inline-block
        vertical-align: top;

    &:first-child
      width: 1.5 * .5em

    &:first-child  &-icon
      width: 1.5 * .5em
      height: 1.5 * .5em

    &:first-child &-temperature
      font-size: 1.5 * .1em

    &-temperature
      font-family: 'Roboto Regular', sans-serif
      font-size: .1em
      vertical-align: top
      margin-top: -5px
      -webkit-backface-visibility: hidden

      &--high
      &--low
        display: inline-block

      &--low
        opacity: .7
