.app
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  overflow: hidden

  &--color
    //

  &--gradient
    //

  &--pattern
    background-repeat: repeat
    background-position: center center

  &--image
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
