main-color = #009688;
main-color-faded = alpha(main-color, .5)

font-color = #555
background-color = #fefefe
clock-font-size = 12em

settings-font-color = font-color
settings-height = 500px
settings-width = 400px

