@import 'defaults'
@import 'fonts'
@import 'mixins'
@import 'clock'
@import 'weather'
@import 'footer'
@import 'settings'
@import 'accordion'
@import 'quote'

body, html
  width 100%
  height 100%
  clear both
  margin 0
  padding 0

body
  -webkit-user-select none
  user-select none
  font-family 'Roboto Regular', sans-serif
  font-size 16px
  overflow hidden
  background-color background-color
  // background-repeat: repeat
  // background-position: center center
  color font-color
  fill font-color

  &.pattern
    background-repeat repeat
    background-position center center

  &.image
    background-position center center
    background-size cover



// span
//   cursor default

*[data-alt]
  fancy-alt(0, 2)

::-webkit-scrollbar
  width 6px
  cursor pointer

::-webkit-scrollbar-thumb
  border-radius 6px
  background rgba(0,0,0,.4)
  cursor pointer
