@import 'settings-content'

.settings-popup
  position fixed
  width 400px
  height 100%
  top 0
  right: 0
  overflow auto

  box-sizing border-box
  background #fff
  box-shadow 0 0 20px #9a9a9a
  margin 0
  padding 0
  opacity 1
  box-sizing border-box

  color font-color
  fill font-color
  stroke none

  -webkit-backface-visibility hidden
  -webkit-animation-duration: 0.3s
  animation-duration: 0.3s
  -webkit-animation-fill-mode: forwards
  animation-fill-mode: forwards
  -webkit-transform-origin: 50% 100%
  transform-origin: 50% 100%
  -webkit-animation-timing-function: ease-in-out
  animation-timing-function: ease-in-out
  -webkit-animation-name: anim-open
  animation-name: anim-open
  transform-origin: right 50%

  &.initiallyHidden
    display: none;

  &.hidden
    -webkit-animation-name: anim-close;
    animation-name: anim-close;

  > *
    margin 0
    padding 0
  *
    box-sizing: border-box

  .settings-tabs
    width 100%
    background #fafafa
    border-bottom solid 1px #e6e6e6
    height 50px

    ul
      padding 0
      margin 0
      list-style none

    li
      padding 0 15px
      position relative
      margin 0
      display inline-block
      cursor pointer
      transition 400ms
      color lighten(font-color, 30%)
      vertical-align bottom
      line-height 50px
      overflow hidden

      ripple()

      &:before
        content ' '
        position absolute
        width 100%
        height 0px
        bottom 0
        left 0
        background none
        transition height 200ms

      &.active
        color font-color

        &:before
          height 5px
          background main-color

@-webkit-keyframes anim-open
  0%
    -webkit-transform: perspective(1000px) rotate3d(0,1,0,-90deg)
  100%
    -webkit-transform: perspective(1000px) rotate3d(0,1,0,0deg)

@keyframes anim-open
  0%
    -webkit-transform: perspective(1000px) rotate3d(0,1,0,-90deg)
  100%
    -webkit-transform: perspective(1000px) rotate3d(0,1,0,0deg)

@-webkit-keyframes anim-close
  0%
    -webkit-transform: perspective(1000px) rotate3d(0,1,0,0deg)
  100%
    -webkit-transform: perspective(1000px) rotate3d(0,1,0,-90deg)

@keyframes anim-close
  0%
    -webkit-transform: perspective(1000px) rotate3d(0,1,0,0deg)
  100%
    -webkit-transform: perspective(1000px) rotate3d(0,1,0,-90deg)
