.settings-content
  height calc(100% - 50px)
  overflow auto

  .hidden
    display none

.settings-item
  padding 15px
  // cursor pointer

  & > *
    display inline-block
    vertical-align middle

  > svg
    margin 0 4px

  > input[type=checkbox]
    fancy-checkbox()

  &.enabled {}

  &.disabled
    opacity .6

.settings-time-format
.settings-display-date
.settings-display-weather
.settings-delimeter-blinking
.settings-autohide-dock
.settings-dock-icon
  > *
    cursor pointer

.settings-dock-icon {}
.settings-appearance {}
.settings-color {}

.settings-color-item,
.settings-background-color-item,
.settings-background-gradient-item,
.settings-background-gradient-angle-item,
.settings-font-family-item
  position relative
  width  30px
  height 30px
  margin 2px 0
  padding 0
  text-align center
  cursor pointer
  box-shadow 0 0 3px #aaa
  border-radius 50%
  transition border 200ms

  &.active
    border solid 3px main-color//#27AE60
    box-shadow none

.settings-background-gradient-angle-item
  padding-top 2px
  fill #aaa
  transition fill 200ms, border 200ms

  & > *
    display inline-block
    vertical-align middle

  &.active
    fill #444
    padding 0

.settings-font-family
  .settings-font-family-item
    line-height 30px
    &.active
      line-height 26px

.settings-font-size

  input[type=range]
    -webkit-appearance none
    display block
    margin 0 auto
    width 80%
    height 32px
    // cursor pointer

    &::-webkit-slider-runnable-track
      height 2px
      background #c8c8c8
      border none

    &::-webkit-slider-thumb
      -webkit-appearance none
      position relative
      border none
      width 32px
      height 32px
      margin-top -14px
      cursor pointer

      &:before
        content ' '
        position absolute
        width 12px
        height 12px
        top 10px
        left 10px
        background main-color//#27AE60
        border-radius 50%
        transition all 180ms ease

    &:active::-webkit-slider-thumb:before
      width 24px
      height 24px
      top 4px
      left 1px

    &:focus
      outline none

    &:focus::-webkit-slider-runnable-track
      background #ccc

.settings-about
  text-align center

  .settings-about-name
    font-family 'Raleway', sans-serif
    font-size 5em
    margin 25px 0

  .settings-about-version
    font-family monospace

  .settings-about-rate
    display inline-block
    margin 25px auto 0
    padding 5px 15px
    background #eee
    border-radius 3px
    text-decoration none
    color inherit
    cursor pointer

    *
      display inline-block
      vertical-align middle

    span
      margin 0 6px

  .settings-about-author-info
    position absolute
    bottom 0
    left 0
    width 100%
    padding 20px
    font-size 0.9em

    p
      margin 15px 0

  .settings-about-share
    margin: 50px 0 0

    .social-link
      display: inline-block
      vertical-align: middle
      margin: 0 10px
      text-decoration: none
      fill: #777
      transition: fill 200ms

    .social-twitter:hover
      fill:  #00aced

    .social-facebook:hover
      fill: #3b5998

    .social-google:hover
      fill: #dd4b39

    .social-reddit:hover
      fill: #c7def7

.settings-close-icon
  position absolute
  top 0px
  right 0px
  width 50px
  height 50px
  font-size 2em
  cursor pointer
  text-align center
  color lighten(font-color, 50%)
  line-height 50px

  &:hover
    transition 300ms
    color lighten(font-color, 20%)
