.settings-content
  height calc(100% - 50px)
  overflow auto

  .hidden
    display none

.settings-item
  padding 0 15px
  margin 20px 0
  cursor pointer

  &:not(.accordion) > *
    display inline-block
    vertical-align middle

  > svg
    margin 0 4px

  > input[type=checkbox]
    fancy-checkbox()

  &.enabled {}

  &.disabled
    opacity .6

.settings-time-format
.settings-display-date
.settings-display-weather
.settings-delimeter-blinking
.settings-autohide-dock
.settings-dock-icon {}


.settings-dock-icon {}
.settings-appearance {}
.settings-color {}

.settings-color-item,
.settings-background-color-item,
.settings-background-gradient-item,
.settings-background-gradient-angle-item,
.settings-font-family-item
  position relative
  display inline-block
  width  30px
  height 30px
  margin 2px 0
  padding 0
  text-align center
  cursor pointer
  box-shadow 0 0 3px #aaa
  border-radius 50%
  transition border 200ms

  &.active
    border solid 3px main-color//#27AE60
    box-shadow none

.settings-pattern
  .accordion-content
    text-align center

  .settings-pattern-item
    display inline-block
    text-align: center
    width: 100px
    height: 100px
    margin: 1px
    cursor pointer
    border solid 3px rgba(0,0,0,0)
    transition border 200ms
    background-position: center center
    background-size: cover
    background-repeat: no-repeat

    &.active
      border solid 3px main-color//#27AE60

.settings-background-image
  .accordion-content
    text-align center

  .settings-background-image-item
    display inline-block
    text-align: center
    width: 100px
    height: 100px
    margin: 1px
    cursor pointer
    border solid 3px rgba(0,0,0,0)
    transition border 200ms
    background-position: center center
    background-size: cover
    background-repeat: no-repeat

.settings-background-gradient-angle-item
  padding-top 2px
  fill #aaa
  transition fill 200ms, border 200ms

  & > *
    display inline-block
    vertical-align middle

  &.active
    fill #444
    padding 0


.settings-font-family-item
    width 100px
    height 100px
    overflow hidden
    font-size 4em
    line-height 100px
    border-radius 0


input[type=range].settings-font-size-item
    -webkit-appearance none
    display block
    margin 0 auto
    width 80%
    height 32px
    // cursor pointer

    &::-webkit-slider-runnable-track
      height 2px
      background #c8c8c8
      border none

    &::-webkit-slider-thumb
      -webkit-appearance none
      position relative
      border none
      width 32px
      height 32px
      margin-top -14px
      cursor pointer

      &:before
        content ' '
        position absolute
        width 12px
        height 12px
        top 10px
        left 10px
        background main-color//#27AE60
        border-radius 50%
        transition all 180ms ease

    &:active::-webkit-slider-thumb:before
      width 24px
      height 24px
      top 4px
      left 1px

    &:focus
      outline none

    &:focus::-webkit-slider-runnable-track
      background #ccc

.settings-weather
  .settings-weather-temperature-units
    .settings-weather-temperature-units-celcius,
    .settings-weather-temperature-units-fahrenheit
      margin: 0 10px

      input[type=radio]
        display: none

        & + label
          position: relative
          padding-left: 25px
          cursor: pointer

          &:before, &:after
            transition: all 200ms;

          &:before
            content: ' '
            position: absolute
            top: 0
            left: 0
            width: 18px
            height: 18px
            background: #fff
            border: solid 1px
            border-color: #999
            border-radius: 3px

        &:checked + label
          &:before
            background: #009688
            border-color: #00877A
          &:after
            content: '\2713'
            position: absolute
            top: 0
            left: 0
            width: 20px
            height: 20px
            line-height: 20px
            text-align: center
            color: #FFF
            font-size: 1.3em
