.weather
  text-align: center
  line-height: 0
  white-space: nowrap

  .weather-city
    font-size: 30pt
    padding: 30px 0 10px
    letter-spacing: normal

  &.hidden
    display: none

  &.show
    display: block

  .day-weather
    display: inline-block
    width: 100px

    > *
      vertical-align: top

    &.dummy
      width: 0px
      float: left
      visibility: hidden

  .day-weather:nth-of-type(5n-2)
    transform: scale(1.5)

  .weather-icon
    padding-left: 0px

  .temperature
    font-size: 18pt
    font-weight: bold
    vertical-align: top
    padding: 0 5px
