.weather
  text-align: center
  line-height: 0
  white-space: nowrap

  .weather-city
    line-height: initial
    font-size: 25%
    letter-spacing: normal

  &.hidden
    display: none

  &.show
    display: block

  .weather-forecast
    font: initial
    transition: transform 500ms

  .day-weather
    display: inline-block
    width: 100px
    transition: transform 300ms

    > *
      vertical-align: top

    &.dummy
      width: 0px
      float: left
      visibility: hidden

    &:hover
      transform: scale(1.2)

  .day-weather:nth-of-type(2)
    transform: scale(1.5)

  .weather-icon
    padding-left: 0px

  .temperature
    display: block
    font-family: 'Roboto', sans-serif
    font-size: 18pt
    vertical-align: top
    padding: 0 5px
    margin-top: -15px

  .temperature-min
    opacity: .7

  .weather-error
    line-height: initial
    font-size: 16pt
    font-family: 'Roboto', sans-serif

    &.hidden
      display: none

    &.show
      display: block

