$main-color: #2196f3;
$main-color-faded: rgba($main-color, 0.5);

$font-color: #555;
$background-color: #fefefe;
$clock-font-size: 12em;

$settings-font-color: $font-color;
// $settings-height : 500px;
$settings-width: 400px;
