.clock
  color: inherit
  text-align: center

  &__time // container for actual clock
    transform: translate3d(0,0,0)

    & > *
      display: inline-block
      vertical-align: bottom

  &__hours
  &__minutes
  &__seconds
    position: relative
    white-space: nowrap

  &__hours
    text-align: right

  &__seconds
    width: 2ch
    text-align: left

  &__hour
  &__minute
  &__second
    display: inline-block
    // position: absolute
    // top: 0

    &-0
      // left: 0

    &-1
      // right: 0

  &__delimiter

    &--blinking
      animation-duration: 2s
      animation-name: delimeter-blink
      animation-iteration-count: infinite

  &__hours
  &__minutes
  &__seconds
  &__delimiter
    font-size: 1em

  &__ampm
    font-size: .5em

  &__date // container for date
    font-size: .25em

@-webkit-keyframes delimeter-blink
  0%, 100%
    opacity .2
  50%
    opacity .8

@keyframes delimeter-blink
  0%, 100%
    opacity .2
  50%
    opacity .8
