@font-face {
  font-family: 'ralewaythin';
  src: url('fonts/raleway-thin-webfont.eot');
  src: url('fonts/raleway-thin-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/raleway-thin-webfont.woff') format('woff'), url('fonts/raleway-thin-webfont.ttf') format('truetype'), url('fonts/raleway-thin-webfont.svg#ralewaythin') format('svg');
  font-weight: normal;
  font-style: normal;
}
.container {
  width: 100%;
  height: 100%;
}
.container .clock {
  position: relative;
  top: 35%;
  font-family: 'ralewaythin';
  font-size: 12em;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
}
.container .clock .blinking {
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-name: delimeter-blink;
  -webkit-animation-name: delimeter-blink;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.container .clock .ampm {
  font-size: 60%;
}
.container .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@-webkit-keyframes delimeter-blink {
  0%,
  100% {
    opacity: .2;
  }
  50% {
    opacity: .8;
  }
}
@keyframes delimeter-blink {
  0%,
  100% {
    opacity: .2;
  }
  50% {
    opacity: .8;
  }
}
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}
.footer ul {
  list-style: none;
  padding: 0;
}
.footer ul li {
  float: right;
  margin: 0 10px;
  fill: rgba(0, 0, 0, 0.7);
  stroke: none;
  cursor: pointer;
  transition: all 200ms;
  transition-delay: 0ms;
}
.footer ul li svg {
  pointer-events: none;
}
.footer ul li.hidden {
  display: none;
}
.footer ul.auto-hide li {
  margin-bottom: -50px;
  transition-delay: 800ms;
}
.footer:hover ul.auto-hide li {
  margin-bottom: 0;
  transition-delay: 0s;
}
.settings-popup {
  position: absolute;
  width: 400px;
  height: 500px;
  max-height: 90%;
  overflow: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 0 20px #9a9a9a;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.7);
  fill: rgba(0, 0, 0, 0.7);
  stroke: none;
  font-family: 'Helvetica', 'Arial', sans-serif;
}
.settings-popup.hidden {
  display: none;
}
.settings-popup .settings-tabs {
  width: 100%;
  background: #fafafa;
  padding-top: 20px;
  border-bottom: solid 1px #e6e6e6;
}
.settings-popup .settings-tabs ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.settings-popup .settings-tabs li {
  padding: 5px 15px;
  position: relative;
  margin: 0 5px;
  display: inline-block;
  cursor: pointer;
  transition: 400ms;
  color: rgba(77, 77, 77, 0.7);
}
.settings-popup .settings-tabs li:after {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 0px;
  bottom: 0;
  left: 0;
  background: none;
  transition: height 200ms;
}
.settings-popup .settings-tabs li.active {
  color: rgba(0, 0, 0, 0.7);
}
.settings-popup .settings-tabs li.active:after {
  height: 3px;
  background: #b5b5b5;
}
.settings-popup .settings-content {
  padding: 15px;
}
.settings-popup .settings-content .hidden {
  display: none;
}
.settings-popup .settings-dock-icon {
  padding: 8px 0;
}
.settings-popup .settings-dock-icon > * {
  vertical-align: middle;
}
.settings-popup .settings-dock-icon > svg {
  margin: 0 4px;
}
.settings-popup .settings-dock-icon > input {
  vertical-align: top;
  visibility: hidden;
  position: relative;
  width: 40px;
  height: 20px;
  cursor: pointer;
}
.settings-popup .settings-dock-icon > input:before,
.settings-popup .settings-dock-icon > input:after {
  content: ' ';
  position: absolute;
  visibility: visible;
  cursor: pointer;
  transition: all 200ms;
}
.settings-popup .settings-dock-icon > input:before {
  top: 10px;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #eee;
}
.settings-popup .settings-dock-icon > input:after {
  top: 2px;
  left: 0px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  border: solid 1px #B0AFB0;
  background: #fff;
}
.settings-popup .settings-dock-icon > input:checked:before {
  background: #2ECC71;
  border-color: #27AE60;
}
.settings-popup .settings-dock-icon > input:checked:after {
  background: #27AE60;
  border-color: #27AE60;
  left: 15px;
}
.settings-popup .settings-appearance input[type=checkbox] {
  vertical-align: top;
  visibility: hidden;
  position: relative;
  width: 40px;
  height: 20px;
  cursor: pointer;
}
.settings-popup .settings-appearance input[type=checkbox]:before,
.settings-popup .settings-appearance input[type=checkbox]:after {
  content: ' ';
  position: absolute;
  visibility: visible;
  cursor: pointer;
  transition: all 200ms;
}
.settings-popup .settings-appearance input[type=checkbox]:before {
  top: 10px;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #eee;
}
.settings-popup .settings-appearance input[type=checkbox]:after {
  top: 2px;
  left: 0px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  border: solid 1px #B0AFB0;
  background: #fff;
}
.settings-popup .settings-appearance input[type=checkbox]:checked:before {
  background: #2ECC71;
  border-color: #27AE60;
}
.settings-popup .settings-appearance input[type=checkbox]:checked:after {
  background: #27AE60;
  border-color: #27AE60;
  left: 15px;
}
.settings-popup .settings-close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  font-size: 2em;
  cursor: pointer;
  text-align: center;
  color: rgba(128, 128, 128, 0.7);
}
.settings-popup .settings-close-icon:hover {
  transition: 300ms;
  color: rgba(51, 51, 51, 0.7);
}
body,
html {
  width: 100%;
  height: 100%;
  clear: both;
  margin: 0;
  padding: 0;
}
body {
  background: #fefefe;
  -webkit-user-select: none;
  user-select: none;
}
*[data-alt] {
  position: relative;
}
*[data-alt]:after,
*[data-alt]:before {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  transition: 300ms;
}
*[data-alt]:after {
  content: ' ';
  top: -6px;
  right: 8px;
  border: solid 6px transparent;
  border-top-color: rgba(0, 0, 0, 0.7);
}
*[data-alt]:before {
  content: attr(data-alt);
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 2px 4px;
  white-space: nowrap;
  border-radius: 2px;
  top: -28px;
  right: 4px;
}
*[data-alt]:hover:after,
*[data-alt]:hover:before {
  visibility: visible;
  opacity: 1;
}
