.footer {
    position: fixed;
    width: 100%;
    bottom: 0;

    ul {

        list-style: none;
        padding: 0;

        li {
            float: right;
            margin: 0 10px;

            fill: @font-color;
            stroke: none;
            cursor: pointer;

            svg {
                pointer-events: none;
            }

            &.hidden {
                display: none;
            }
        }
    }
}
