.fancy-alt(@top: 0, @right: 0){
    position: relative;
    &:after, &:before {
        visibility: hidden;
        position: absolute;
        opacity: 0;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 18px;
        transition: 300ms;
    }

    &:after {
        content: ' ';
        top: -@top - 6px;
        right: @right + 6px;
        border: solid 6px transparent;
        border-top-color: rgba(0,0,0,.7);
    }

    &:before {
        content: attr(data-alt);
        background: rgba(0,0,0,.7);
        color: #fff;
        padding: 2px 4px;
        white-space: nowrap;
        border-radius: 2px;
        top: -@top - 28px; // line-height + paddings + arrow size
        right: @right + 2px;
    }

    &:hover:after, &:hover:before {
        visibility: visible;
        opacity: 1;
    };
}
.fancy-checkbox() {
    vertical-align: top;
    visibility: hidden;
    position: relative;
    margin: 0 30px 0 0;
    cursor: pointer;

    &:before, &:after {
        content: ' ';
        position: absolute;
        visibility: visible;
        background-color: #ECF0F1;
        border: solid 1px #BDC3C7;
        cursor: pointer;
    }

    &:before {
        top: 0;
        left: 0;
        width: 34px;
        height: 20px;
        border-radius: 10px;
        box-shadow: 0 0 3px #ddd inset;
    }

    &:after {
        top: 0px;
        left: 0px;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        transition: all 200ms;
        // box-shadow: 0 0 2px #BDC3C7;
    }

    &:checked {
        &:before {
            background: #2ECC71;
            border-color: #27AE60;
            box-shadow: 0 0 3px #2ECC71 inset;
        }
        &:after {
            left: 15px;
        }
    }
}
