.settings-popup {
    position: absolute;

    width: 400px;
    height: 500px;
    max-height: 90%;
    overflow: auto;

    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);

    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 0 20px #9a9a9a;
    border-radius: 4px;

    color: @font-color;
    fill: @font-color;
    stroke: none;

    font-family : 'Helvetica', 'Arial', sans-serif;

    &.hidden {
        display: none;
    }


    .settings-tabs {
        width: 100%;
        background: #fafafa;
        padding-top: 20px;
        border-bottom: solid 1px #e6e6e6;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;

        }

        li {
            padding: 5px 15px;
            margin: 0 5px;
            display: inline-block;
            cursor: pointer;
            transition: 400ms;
            border-bottom: solid 2px;
            border-color: transparent;
        }

        li.active {
            border-color: #b5b5b5;
        }
    }

    .settings-content {
        padding: 15px;
        .hidden {
            display: none;
        }
    }


    .settings-dock-icon {
        padding: 8px 0;

        > * {
            vertical-align: middle;
        }

        > svg {
            margin: 0 4px;
        }

        > input {
            .fancy-checkbox();
        }
    }

    .settings-appearance {
        input[type=checkbox] {
            .fancy-checkbox();
        }
    }

    .settings-close-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        font-size: 2em;
        cursor: pointer;
        text-align: center;
        color: lighten(@font-color, 50%);

        &:hover {
            transition: 300ms;
            color: lighten(@font-color, 20%);
        }
    }
}
