.settings-popup {
    position: absolute;

    width: 400px;
    height: 500px;
    max-height: 90%;
    overflow: auto;

    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);

    padding: 25px 10px 10px;
    box-sizing: border-box;
    background: #fff;
    border: solid 1px #eaeaea;
    box-shadow: 0 0 20px #222;
    border-radius: 5px;

    color: @font-color;
    fill: @font-color;
    stroke: none;

    font-family : 'Helvetica', 'Arial', sans-serif;

    &.hidden {
        display: none;
    }


    .settings-tabs {
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            border-bottom: solid 1px #aaa;
        }

        li {
            padding: 5px 15px;
            margin: 0 5px;
            display: inline-block;
            cursor: pointer;
        }

        li.active {
            border-bottom: solid 3px #aaa;
        }
    }

    .settings-content {
        padding: 15px 0;
        .hidden {
            display: none;
        }
    }

    .settings-dock-icon {
        padding: 8px 0;

        > * {
            vertical-align: middle;
        }

        > svg {
            margin: 0 4px;
        }

        > input {
            .fancy-checkbox();
        }
    }

    .settings-close-icon {
        position: absolute;
        top: 5px;
        right: 5px;

        cursor: pointer;
    }
}
