.settings-text__color-option {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 2px;
  padding: 0;
  text-align: center;
  cursor: pointer;
  // box-shadow: 0 0 3px #aaa;
  // border: none;
  border-radius: 50%;
  // transition: box-shadow 200ms;
}
