@font-face
  font-family 'Raleway'
  src url('./fonts/raleway.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'Roboto'
  src url('./fonts/roboto_thin.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'Roboto Regular'
  src url('./fonts/roboto_regular.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'Code'
  src url('./fonts/code.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'Exo'
  src url('./fonts/exo.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'Josefin'
  src url('./fonts/josefin.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'Bebas'
  src url('./fonts/bebas.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'Geosans'
  src url('./fonts/geosans.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'SourceCode'
  src url('./fonts/sourcecode.woff') format('woff')
  font-weight normal
  font-style normal
