.settings-about
  text-align: center

  &__title
    font-family 'Raleway', sans-serif
    font-size 5em
    margin 25px 0

  &__version
    font-family monospace

  &__like
    display inline-block
    margin 25px auto 0
    padding 5px 15px
    background #eee
    border-radius 3px
    text-decoration none
    color inherit
    cursor pointer

    *
      display inline-block
      vertical-align middle

    span
      margin 0 6px

  &__share
    margin: 50px 0 0

  &__share-link
    display: inline-block
    vertical-align: middle
    margin: 0 10px
    text-decoration: none
    fill: #777
    transition: fill 200ms

    &--twitter:hover
      fill:  #00aced

    &--facebook:hover
      fill: #3b5998

    &--google:hover
      fill: #dd4b39

    &--reddit:hover
      fill: #c7def7

  &__author-info
    position absolute
    width: 100%
    bottom 0
    left 0
    text-aling: center
    font-size 0.9em

    p
      margin 15px 0
