@import '../../common/mixins'

.settings-item
  padding 0 15px
  margin 20px 0
  cursor pointer

  &__checkbox
  &__title
    vertical-align: middle

  &__checkbox
    fancy-checkbox()

  &__title
    //
