@import '../../common/defaults'

.settings-weather

  &__units
  &__location
    margin: 20px 0
    padding: 0 15px

    &-title
      //

    &-options
      //

    &-option
      margin: 10px 0
      cursor: pointer

      label
        display: block
        width: 100%
        cursor: pointer

        > *
          display: inline-block
          vertical-align: top

      input[type=radio]
        -webkit-appearance: none
        position: relative
        width: 16px
        height: 16px

        &:focus
          outline: none

        &:before
        &:after
          content: ' '
          position: absolute
          border-radius: 50%

        &:before
          width: 12px
          height: 12px
          top: 0
          left: 0
          border: solid 2px lighten($font-color, 50%)
          background-color: transparent

        &:after
          width: 8px
          height: 8px
          top: 4px
          left: 4px
          transform: scale(0)
          background-color: $main-color
          transition: transform 200ms ease

        &:checked

          &:after
            transform: scale(1)

          &:before
            border-color: $main-color

      .text-input
        margin: 10px 0
        font-size: 1em
        display: block
        position: relative
        width: 240px
        border-bottom: solid 1px lighten($font-color, 50%)
        cursor: initial

        &__input
          display: block
          width: 100%
          height: 2em
          font-size: 1em
          line-height: 2em
          background: none
          border: none

        &__bar
        &__label
          position: absolute
          transition: transform 200ms ease
          will-change: transform
          pointer-events: none

        &__bar
          bottom: -1px // include border
          left: 0
          width: 100%
          height: 3px
          background: $main-color
          transform: scale(0)
          transform-origin: center bottom

        &__label
          top: 5px
          left: 0
          color: lighten($font-color, 30%)

        &__input:focus
          outline: none

        &__input:focus ~ .text-input__label
        &__input:valid ~ .text-input__label
            transform: translateY(-90%) scale(.8)

        &__input:focus ~ .text-input__bar
            transform: scale(1)
